<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet"
      href="http://www.telerik.com/kendo-angular-ui/npm/node_modules//@progress/kendo-theme-default/dist/all.css"/>
<div>
  <div class="topbar2">
    <div class="topbar"><h1>
      {{title}}!
    </h1>
    </div>
    <h2>
      {{secondTitle}}
    </h2>
  </div>
  <div>
    <kendo-grid
      [data]="gridDataforFilter"
      [pageSize]="state.take"
      [skip]="state.skip"
      [sort]="state.sort"
      [filter]="state.filter"
      [sortable]="true"
      [pageable]="true"
      [filterable]="true"
      (dataStateChange)="dataStateChange($event)">
      <kendo-grid-column field="name" title="Phase" width="80" [filterable]="false">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <span>{{dataItem.name}} ({{phaseTypeValue[dataItem.phase.phsNo]}})</span>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="revision" title="Revision" width="80" filter="numeric">
      </kendo-grid-column>
      <kendo-grid-column field="auditType" title="Audit Type" width="80">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <span>{{dataItem.auditType.length ? dataItem.auditType : ''}}</span>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="ecnId" title="ECN" width="80" filter="numeric">
      </kendo-grid-column>
      <kendo-grid-column field="processStatus.value" title="Process Status" width="80">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <span>{{dataItem.processStatus ? processStatusValue[dataItem.processStatus.value] : ''}}</span>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="dateTimeCreated" title="Date/Time Created" width="80" filter="text">
      </kendo-grid-column>
      <ng-template kendoGridDetailTemplate let-dataItem
                   [kendoGridDetailTemplateShowIf]="isShowAuditLog">
        <kendo-grid [data]="dataItem.auditLog" style="margin-left:28px;">
          <kendo-grid-column field="Narrative" title="Narrative" width="20" [filterable]="false"></kendo-grid-column>
          <kendo-grid-column field="fieldName" title="fieldName" width="20" [filterable]="false"></kendo-grid-column>
          <kendo-grid-column field="ErrorDetails" title="ErrorDetails" width="60"
                             [filterable]="false"></kendo-grid-column>
          <kendo-grid-column field="ErrorType" width="120">
            <ng-template kendoGridCellTemplate let-dataItem>
              <div [class]=getLegendColor(dataItem.ErrorType)></div>
            </ng-template>
          </kendo-grid-column>
        </kendo-grid>
      </ng-template>
    </kendo-grid>
  </div>
</div>

