/* You can add global styles to this file, and also import other style files */
body{
	margin: 10px;
    border: solid 2px black;
}
.topbar{
	background-color:Red;
	text-align:center;
	border: 2px white solid;
}
.topbar2{
	background-color:Blue;
	text-align:left;
	color: White;
	padding-left: 10px;
	padding-bottom: 5px;
}

.legend{
	width: 25px;
	height: 25px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin-left:20px;
}

.Red{
	background: red;
}
.Yellow{
background: Yellow;
}
.Blue{
background: Blue;
}